@import '../node_modules/rsuite/lib/styles/themes/dark/index.less';

body {
  margin: 0;
  background-color: #1a2439;
  color: #f6f3f0;
  font-family: sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 2px;
}
.container {
  width: 720px;
  margin: 0 auto;
}

@media (max-width: 720px) {
  .container {
    width: auto;
    margin: 0 16px;
  }
}

.container.center {
  display: flex;
  justify-content: left;
}

.navbar-welcome {
  padding: 18px 20px;
  display: inline-block;
}

.rs-nav-item-active{
  font-weight: bold;
}

.selector {
  margin: 2px;
}

.title {
  font-weight: bold;
  color: #a6d7ff;
  padding-top: 8px;
  padding-bottom: 8px;
}

.caption {
  padding-top: 8px;
}

.caption-disabled {
  padding-top: 8px;
  opacity: 0.3;
}

.date-select {
  height: 40px;
  width: 500px;
}

.feature-select {
  height: 40px;
  width: 500px;
}

.available-form {

}

.requests {
  margin: 10px;
}

.reset-button {
  margin-top: 16px;
}

.request-table {
  height: 20px;
}

.request-table-caption {
  display: flex;
  align-items: stretch;
}

.car_busy_calendar {
  font-family: monospace;
}

.error {
  background-color: darkred;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  padding-left: 4px;
}

.calendar {
  padding-top: 80px;
}

.calendar-table {
  //width: 400px;
  table-layout: fixed;
  border-collapse: collapse;
}

.calendar-table-col-name-span {
  min-width: 30px;
  max-width: 30px;
  background-color: #0d73d4;
}

.calendar-table-col-span {
  min-width: 30px;
  max-width: 30px;
  background-color: #4caf50;
}

.calendar-table tbody {
  overflow: auto;
  height: 500px;
}
//.calendar-table thead tr {
//  display: block;
//  width: 100%;
//}
//.calendar-table thead {
//  display: block;
//  width: 100%;
//  //background: black;
//  //color: #fff;
//}
.calendar-table th {
  transform: rotate(-90deg);
  transform-origin: 0% 50% 0;
  max-width: 30px;
}
.calendar-table td {
  text-align: center;
}
//
//.calendar-table-row-label {
//  text-align: right;
//  padding-right: 4px;
//}
